/* regole generali */
body {
    margin: 0;
    font-weight: 600;
}

.container {
    padding: 10px;
}

/* info header */
header {
    background-image: url(../img/pattern.png);
    background-repeat: round;
    background-size: contain;
    background-color: rgb(5, 172, 239);
    height: 100px;
}

.img-header {
    height: 70px;
    margin-top: 20px;
}

/* Sezione foto e citazioni */
#citazione {
    color: darkgray;
    margin-top: -20px;
}

.the-booleaner {
    color: rgb(6, 170, 239);
}



.citazione-1-2 {
    line-height: 0px
}

/* Sezione centrale con paragrafi e liste */


#box-centrale-1 {
    margin-top: 35px;
}

.paragrafo-yellow {
    background-color: rgb(220, 220, 4);
}

ul {
    padding: 10px;
}

/* Sezione tabella */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.th-size {
    width: 25%;
}

.td-size {
    width: 25%;
}

th {
    background-color: rgb(5, 172, 239);
    color: white;
}

tr {
    height: 40px;
}

.background-sky-blue {
    background-color: rgb(163, 215, 237);
}

/* Sezione finali con immagini */

#box-finale {
    margin-top: 30px;
}

h2 {
    color: gray;
    font-size: 20px;
}

#img-monitor {
    background-image: url(../img/monitor.jpeg);
    color: white;
    width: 240px;
    height: 180px;
    font-size: 23px;
}

#img-graph {
    background-image: url(../img/graph.jpeg);
    color: white;
    width: 240px;
    height: 180px;
    margin-top: 15px;
    font-size: 23px;
}